<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="user-creation" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #fafafa;
      }
      .card {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        background-color: white;
        margin: 25px;
      }
      .card-header {
        border-top: 3px solid rgb(108, 180, 59);
      }
      .card-content {
        padding: 10px 60px 0;
      }
      .card-footer {
        border-top: 1px dashed rgb(108, 180, 59);
        padding: 10px 10px 10px;
      }
      .lg-button {
        border-radius: 23px;
        color: #6cb43b;
        border: 1px solid #6cb43b;
        font-size: 15px;
        text-decoration: none;
        display: inline-block;
        padding: 0.375rem 0.75rem;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
      }
      td {
        border: 1px dashed #6cb43b;
        padding: 10px;
      }
      .capitalize {
        text-transform: capitalize;
      }
    </style>
  </head>

  <body>
    <div class="card">
      <div class="card-header">
        <img
          style="margin-left: 45%"
          width="128"
          height="128"
          src="<%= logo %>"
          alt="logo"
        />
      </div>
      <div class="card-content">
        <h3>Hello <%= firstName %> <%= lastName %>,</h3>
        <p>
          Welcome to Scandidate. Your account has been created as a
          <b class="capitalize">"<%= subRole.toLowerCase() %>"</b>
          for <b>"<%= role.toLowerCase() %>"</b> by our team.
        </p>
        <p>Please find your login details below.</p>
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td><b>Username :</b></td>
              <td><%= firstName %> <%= lastName %></td>
            </tr>
            <tr>
              <td><b>Password :</b></td>
              <td><%= password %></td>
            </tr>
          </tbody>
        </table>
        <br />
        <a
          class="lg-button"
          href="<%= url %>"
          data-saferedirecturl="<%= url %>"
          target="_blank"
          >Login</a
        >

        <br />
      </div>
      <div class="card-footer">
        <p>
          Regards,<br />
          <b>Scandidate.in</b>
        </p>
      </div>
    </div>
  </body>
</html>
